body, html {
  padding: 0%;
  margin: 0%;
  background-color: rgb(0, 18, 37);
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main .top {
  display: flex;
  flex-direction: column;
}
.main .top .nav {
  width: 96%;
  height: 60px;
  background-color: aqua;
  margin-top: 15px;
  border-radius: 12px;
  margin-left: 2%;
}
.main .top .timebox {
  width: 96%;
  height: 300px;
  background-color: rgb(189, 213, 213);
  margin-top: 20px;
  margin-left: 2%;
  border-radius: 12px;
}
.main .allfeatures {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main .allfeatures .todo {
  width: 70%;
  height: 300px;
  margin-top: 30px;
  border-radius: 12px;
  margin-left: 15%;
  position: relative;
}
.main .allfeatures .todo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  border-radius: 12px;
}
.main .allfeatures .todo h1 {
  color: rgb(0, 94, 255);
  position: absolute;
  bottom: 0%;
  right: 5%;
}
.main .allfeatures .dailyplanning {
  width: 70%;
  height: 300px;
  margin-top: 30px;
  border-radius: 12px;
  margin-left: 15%;
  position: relative;
}
.main .allfeatures .dailyplanning img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  border-radius: 12px;
}
.main .allfeatures .dailyplanning h1 {
  color: rgb(0, 18, 181);
  position: absolute;
  bottom: 0%;
  right: 5%;
}
.main .allfeatures .motivation {
  width: 70%;
  height: 300px;
  position: relative;
  margin-top: 30px;
  border-radius: 12px;
  margin-left: 15%;
}
.main .allfeatures .motivation img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  border-radius: 12px;
}
.main .allfeatures .motivation h1 {
  color: rgb(243, 243, 243);
  position: absolute;
  bottom: 0%;
  right: 5%;
}
.main .allfeatures .pomodorotimer {
  width: 70%;
  height: 300px;
  margin-top: 30px;
  border-radius: 12px;
  margin-left: 15%;
  position: relative;
}
.main .allfeatures .pomodorotimer img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  -o-object-position: 35%;
     object-position: 35%;
  border-radius: 12px;
}
.main .allfeatures .pomodorotimer h1 {
  color: rgb(25, 0, 255);
  position: absolute;
  bottom: 0%;
  right: 5%;
}
.main .allfeatures .dailygoles {
  width: 70%;
  height: 300px;
  margin-top: 30px;
  border-radius: 12px;
  margin-left: 15%;
  position: relative;
}
.main .allfeatures .dailygoles img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  -o-object-position: 100%;
     object-position: 100%;
  border-radius: 12px;
}
.main .allfeatures .dailygoles h1 {
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0%;
  right: 5%;
}
.main .fullelem {
  height: 100%;
  width: 100%;
  background-color: rgb(78, 35, 35);
  display: none;
  color: aliceblue;
  position: absolute;
}
.main .fullelem h1 {
  color: aqua;
}
.main .fullelem .back {
  background-color: rgb(255, 5, 5);
  padding: 15px 20px;
  border-radius: 12px;
  border: none;
  color: aqua;
  font-size: large;
  position: absolute;
  right: 5%;
  cursor: pointer;
}
.main .todolistpage {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main .todolistpage .todocontainer {
  background-color: aqua;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main .todolistpage .todocontainer .addtask {
  width: 96%;
  height: 40%;
  background-color: rgb(17, 10, 220);
  border-radius: 12px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10px;
}
.main .todolistpage .todocontainer .addtask form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.main .todolistpage .todocontainer .addtask form input {
  width: 90%;
  margin-left: 5%;
  margin-top: 4%;
  border-radius: 10px;
  border: none;
  height: 40px;
}
.main .todolistpage .todocontainer .addtask form textarea {
  height: 150px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  border-radius: 10px;
  border: none;
  resize: none;
}
.main .todolistpage .todocontainer .addtask form button {
  height: 50px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  border-radius: 10px;
  border: none;
  transition: all ease 0.4s;
}
.main .todolistpage .todocontainer .addtask .markimp {
  display: flex;
  gap: 20px;
}
.main .todolistpage .todocontainer .addtask .markimp #check {
  width: 22px;
  margin: 0px;
  margin-left: 20px;
}
.main .todolistpage .todocontainer .addtask .markimp label {
  margin-top: 10px;
}
.main .todolistpage .todocontainer .alltask {
  width: 96%;
  height: 45%;
  background-color: rgb(28, 201, 40);
  border-radius: 12px;
  margin-left: 2%;
  margin-right: 2%;
}
.main .todolistpage .todocontainer .alltask .task {
  background-color: brown;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.main .todolistpage .todocontainer .alltask .task h1 {
  color: black;
  padding: 0px 15px;
}
.main .todolistpage .todocontainer .alltask .task button {
  background-color: aqua;
  padding: 0px 15px;
  height: 30px;
  border-radius: 10px;
  margin-top: 17px;
  margin-right: 10px;
  border: none;
}
.main .todolistpage .todocontainer .alltask .task span {
  color: rgb(255, 0, 0);
  background-color: rgb(0, 255, 149);
  font-size: small;
  border-radius: 50%;
  padding: 2px 4px;
}
.main .todolistpage .todocontainer .alltask .task span.false {
  opacity: 0;
}
.main .todolistpage .todocontainer .alltask .task span.true {
  opacity: 1;
}

@media (min-width: 900px) {
  .main .allfeatures {
    flex-direction: row;
    padding: 30px;
  }
  .main .allfeatures :hover {
    transform: scale(1.02);
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .main .allfeatures :active {
    scale: 0.98;
  }
  .main .allfeatures .todo {
    width: 100%;
    margin-left: 0%;
  }
  .main .allfeatures .dailyplanning {
    width: 100%;
    margin-left: 0%;
  }
  .main .allfeatures .motivation {
    width: 100%;
    margin-left: 0%;
  }
  .main .allfeatures .pomodorotimer {
    width: 100%;
    margin-left: 0%;
  }
  .main .allfeatures .dailygoles {
    width: 100%;
    margin-left: 0%;
  }
}